* {
    --font-color: #FFF;
    --font-family: Arial, Helvetica, sans-serif;
    --primary-bg: gray;
    --secondary-bg: rgb(24, 24, 24);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    overflow-x: hidden;
}

.layout {
    min-height: 100vh;
    background-color: var(--primary-bg);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top, .bottom {
    background-color: var(--secondary-bg);
    color: var(--font-color);
    min-height: 50px;
}

.bottom {
    margin-top: auto;
}

.top, .bottom {
    padding: 10px;
}

.middle {
    margin: 10px;
}

.middle h2, .middle p {
    margin-bottom: 10px;
}